# Folder that will be monitored
DOWNLOADS_PATH=./input

# Location for log files
LOG_PATH=./logs

# Fallback location for unknown files
DEFAULT_UNKNOWN_PATH=./output/unknown

# Module configuration file
MAPPING_FILE=./config/module_mapping.json

# Discord Webhook URL
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...